body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #Da1884;
}

.login-container {
  width: 400px;
  padding: 20px;
  background-color: #ff69b4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo img {
  width: 150px; /* Adjust according to your logo size */
  margin-bottom: 10px;

}

.login-form h2 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 5px;
  size: 50px;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;

}

.input-group input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.password-field {
  position: relative;
}

.password-field input {
  padding-right: 5px;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #Da1884;
  font-size: 14px;
}

button {
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #Da1884;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff1493;
}

.lower-section {
  margin-top: 20px;
  text-align: center;
}

.lower-section p {
  margin-bottom: 10px;
  font-size: 14px;
}

.lower-section a {
  text-decoration: none;
  color: #007bff;
}

.lower-section a:hover {
  background-color: #ff1493;
}

.other-logins {
  margin-top: 10px;
}

.login-icons img {
  width: 40px; /* Adjust according to your icon size */
  margin: 1 5px;
  padding: 10px;
}

.login-icons img:hover {
  background-color: #ff1493;
}